{include file="public/header" title="微聊首页" /}
<div class="index-head">
    <div class="container">
    	<div class="head-logo pull-left"></div>
	    <div class="head-search pull-left">
	        <form class="bs-example bs-example-form" role="form">
	            <div class="search-group">
	                <input type="text" class="search-input" placeholder="搜索密聊">
					<a href=""><i class="glyphicon glyphicon-search search-icon"></i></a>
	            </div>
	        </form>
	    </div>
	    <div class="head-info pull-right">
            <ul>
            	<li class="active"><a href=""><i class="glyphicon glyphicon-home"></i>首页</a></li>
            	<!-- <li>
            		<a href="">登录</a> |
            		<a href="">注册</a>
            	</li> -->
            	<li><a href="{url:index/myhome}"><i class="glyphicon glyphicon-user"></i>个人中心</a></li>
            	<li><a href=""><i class="glyphicon glyphicon-bell"></i></a></li>
            	<li><a href=""><i class="glyphicon glyphicon-envelope"></i></a></li>
            	<li><a href=""><i class="glyphicon glyphicon-cog"></i></a></li>
            	<li class="info-push"><a href="" class="info-btn">发文</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="theme-head"></div>
<div class="index-cont">
	<div class="row">
		<div class="col-md-3">
			<div class="cont-userbox">
				<div class="cont-bg"></div>
				<div class="cont-text">
					<div class="pull-left cont-text-img"><a href=""><img src="/static/img/userlogo.jpg" alt=""></a></div>
					<a href=""><p class="cont-text-name">张译文</p></a>
					<p class="cont-text-id">@张译文blskye</p>
				</div>
				<div class="cont-count">
					<div class="row">
						<div class="col-md-4">
							<p>发文</p><a href=""><span>2586</span></a>
						</div>
						<div class="col-md-4">
							<p>关注</p><a href=""><span>185</span></a>
						</div>
						<div class="col-md-4">
							<p>粉丝</p><a href=""><span>221</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-7 cont-sub">
			<div class="sub-write clearfix">
				<div class="pull-left sub-write-img">
					<img src="/static/img/userlogo-mini.jpg" alt="">
				</div>
				<div class="pull-right sub-write-inputbox">
					<form action="{:url('index/index/add')}" method="post">
						<div class="write-inputbox">
							<textarea class="inputbox-input" placeholder="有什么新鲜事？" name="content"></textarea>
							<i class="glyphicon glyphicon-picture inputbox-img"></i>
							<!--<p class="inputbox-cue">有什么新鲜事？</p>-->
							<div class="pull-right btn-group-btn">
								<button class="group-btn-sub" type="submit">发布</button>
							</div>
						</div>
						<div class="write-btngroup clearfix">
							<div class="pull-left btn-group-icon">
								<a href=""><i class="fa fa-smile-o" aria-hidden="true"></i> 表情</a>
								<a href=""><i class="fa fa-picture-o" aria-hidden="true"></i> 图片</a>
								<a href=""><i class="fa fa-video-camera" aria-hidden="true"></i> 视频</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="sub-articlebox">
				{volist name="intro_list" id="intro"}
				{include file="index/itemlist" /}
				{/volist}
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
{include file="public/footer" /}