<div class="sub-article clearfix">
    <div class="pull-left article-logo">
        <img src="/static/img/userlogo-mini.jpg" alt="">
    </div>
    <div class="pull-left article-cont">
        <p><a href="" class="article-name">张译文blskye</a><span class="article-name2">(张译文)</span></p>
        <span class="article-time"><em>{$intro.add_time}</em>来自<em>iPhone 6s</em></span>
        <div class="article-txt">
            <p>{$intro.content}​​</p>
        </div>
    </div>
    <div class="article-oper">
        <div class="col-md-3">
            <a><i class="fa fa-star-o" aria-hidden="true"></i> 收藏</a>
            <!--<a><i class="fa fa-star" aria-hidden="true"></i> 已收藏</a>-->
        </div>
        <div class="col-md-3">
            <a><i class="fa fa-share-square-o" aria-hidden="true"></i> 转发</a>
        </div>
        <div class="col-md-3">
            <a><i class="fa fa-commenting-o" aria-hidden="true"></i> 评论</a>
        </div>
        <div class="col-md-3">
            <a><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 赞</a>
            <!--<a><i class="fa fa-thumbs-up" aria-hidden="true"></i> 赞</a>-->
        </div>
    </div>
</div>