{include file="public/header" title="我的主页" /}
<div class="index-head">
    <div class="container">
    	<div class="head-logo pull-left"></div>
	    <div class="head-search pull-left">
	        <form class="bs-example bs-example-form" role="form">
	            <div class="search-group">
	                <input type="text" class="search-input" placeholder="搜索密聊">
					<a href=""><i class="glyphicon glyphicon-search search-icon"></i></a>
	            </div>
	        </form>
	    </div>
	    <div class="head-info pull-right">
            <ul>
            	<li><a href=""><i class="glyphicon glyphicon-home"></i>首页</a></li>
            	<!-- <li>
            		<a href="">登录</a> |
            		<a href="">注册</a>
            	</li> -->
            	<li class="active"><a href=""><i class="glyphicon glyphicon-user"></i>个人中心</a></li>
            	<li><a href=""><i class="glyphicon glyphicon-bell"></i></a></li>
            	<li><a href=""><i class="glyphicon glyphicon-envelope"></i></a></li>
            	<li><a href=""><i class="glyphicon glyphicon-cog"></i></a></li>
            	<li class="info-push"><a href="" class="info-btn">发文</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="index-cont-home">
	<div class="home-head">
		<div class="head-img"><a href=""><img src="/static/img/userlogo.jpg" alt=""></a></div>
		<h4 class="head-name">译文blskye</h4>
		<p class="head-motto">记住这句话：能管理好自己的情绪，你就是优雅的，能控制好自己的心态，你就是成功的。</p>
	</div>
	<div class="clearfix home-cont">
		<div class="col-md-4 home-countbox">
			<div class="clearfix home-count">
				<div class="col-md-4">
					<p><a href="">1360</a></p>
					<span>发文</span>
				</div>
				<div class="col-md-4">
					<p><a href="">136</a></p>
					<span>关注</span>
				</div>
				<div class="col-md-4">
					<p><a href="">229</a></p>
					<span>粉丝</span>
				</div>
			</div>
			<div class="home-unibox">
				<h3 class="uni-title"><a href=""><span>个人资料</span></a></h3>
				<div class="p-group">
					<p><i class="fa fa-map-marker" aria-hidden="true"></i></i><span>山东</span><span>烟台</span></p>
					<p><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>毕业于<a href=""><em>长春财经学院</em></a></span></p>
					<p><i class="fa fa-suitcase" aria-hidden="true"></i><span>公司<a href=""><em>烟台博斯凯互联网科技有限公司</em></a></span></p>
					<p><i class="fa fa-adjust" aria-hidden="true"></i><span>异性恋</span></p>
					<p><i class="fa fa-heartbeat" aria-hidden="true"></i><span>订婚</span></p>
				</div>
				<h5 class="uni-bottom"><a href="">编辑个人资料 <i class="fa fa-angle-right" aria-hidden="true"></i></a></h5>
			</div>
			<div class="home-unibox">
				<h3 class="uni-title"><a href=""><span>文章(12)</span></a></h3>
				<div class="uni-article">
					<div class="article-group">
						<a href=""><img src="/static/img/1202979.jpg" alt=""></a>
						<a href=""><h5>不同插件弹窗的写法：</h5></a>
						<a href=""><p>1：Amaze UI   点击显示 Alert    $('.js-alert').on('click', function() {     AMUI.dialog.alert({       tit</p></a>
					</div>
					<div class="article-group">
						<a href=""><img src="/static/img/1134064.jpg" alt=""></a>
						<a href=""><h5>	鹿晗、杨幂、关晓彤，明星们2017年发的第一条微博都是啥？</h5></a>
						<a href=""><p>新年新气象，明星们在刚刚过去的新年第一天又做了些什么呢？感性如谢娜，她发了一篇小论文回顾2016：理性如孙俪、娜扎，元旦照样该工作工作至于下面这对…</p></a>
					</div>
				</div>
				<h5 class="uni-bottom"><a href="">查看更多 <i class="fa fa-angle-right" aria-hidden="true"></i></a></h5>
			</div>
			<div class="home-unibox">
				<h3 class="uni-title"><a href=""><span>相册</span></a></h3>
				<div class="uni-img">
					<ul class="clearfix">
						<li><img src="/static/img/photo/1.jpg" alt=""></li>
						<li><img src="/static/img/photo/2.jpg" alt=""></li>
						<li><img src="/static/img/photo/3.jpg" alt=""></li>
						<li><img src="/static/img/photo/4.jpg" alt=""></li>
						<li><img src="/static/img/photo/5.jpg" alt=""></li>
						<li><img src="/static/img/photo/6.jpg" alt=""></li>
					</ul>
				</div>
				<h5 class="uni-bottom"><a href="">查看更多 <i class="fa fa-angle-right" aria-hidden="true"></i></a></h5>
			</div>
		</div>
		<div class="col-md-8 cont-sub" style="padding: 0;">
			<div class="sub-articlebox">
				{volist name="$intro_list" id="intro"}
				{include file="index/itemlist" /}
				{/volist}
			</div>
		</div>
	</div>
</div>
{include file="public/footer" /}